@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  background-color: #01041b;
  color: #ffff;
  overflow: hidden;
}
input,
button,
.main-radius {
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #585858;
}
