@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  background-color: #01041b;
  color: #ffff;
  overflow: hidden;
}
input,
button,
.main-radius {
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #585858;
  overflow: hidden;
}

.search-result-show {
  animation: result-show 0.1s;
}

@keyframes result-show {
  from {
    height: 0px;
  }
  to {
    height: 48px;
  }
}
